*{
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap') !important;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.navbar-brand{
    height: 70px;
    width: auto;
}
.navbar{
    position: relative;
}

.judule{
    font-weight: 700; 
    margin-left: 30px;
}

.col-6{
    margin-top: 50px;
    text-align: center;
}

.form-group{
    width: 70%;
    margin-left: 80px;
    text-align: left;
}

.submitan{
    margin-top: 30px;
    height: 50px;
    margin-left: 220px;
}

.inputan {
    width: 100%;
    height: 100%;
}

.akimilaku{
    width: 100%;
}

.akimilaku th,td {
    height: 70px;
}

@media (max-width:768px){
    .ikilabel{
        font-size: 10pt;
    }
    .akimilaku th,td {
        height: 50px;
    }
    .akimilaku{
        margin-left:10px;
    }
    .form-group{

        margin: 0;
        padding-left: 95px;
    }
    .judule{
        font-size: 25pt;
        text-align: center;
        margin-left: 20px;
    }
    .submitan{
        margin-left: 120px;
    }
    .ikilabel{
        margin-left:10px ;
    }
}
@media (max-width:1200){
    
}